<h3>Exemple clock</h3>
<app-clock format="HH:mm:ss" [delay]="delayMs"></app-clock>
<input [value]="delayMs" />
<button (click)="delayMs = delayMs + 1000">+</button>
<button (click)="delayMs = delayMs - 1000">-</button>
<!-- <app-clock format="HH:mm"></app-clock> -->
<!-- <app-clock [format]="format"></app-clock> -->
<!-- <app-clock [format]="'HH:mm:ss'"></app-clock> -->
<!-- <input value="format + '...'"> -->

<!-- <input [value]="couleurSelected" (keydown)="couleurSelected = $event.target.value"> -->

<h3>Exemple select</h3>
<p>Valeur sélectionnée : {{ couleurSelected }}</p>
<app-select
  [items]="couleurs"
  [selected]="couleurSelected"
  (selectedChange)="couleurSelected = $event"
></app-select>
<app-select
  [items]="couleurs"
  [(selected)]="couleurSelected"
></app-select>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore suscipit quae
  eum. Fugiat earum, repudiandae porro eum tempora quod corporis ratione minus
  nostrum sed ad voluptate consequuntur quam quasi praesentium!
</p>

<h3>Form</h3>
<app-form></app-form>
